.logo {
    width: 47px;
}
.main {
    background-color: #FFF;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px;
}
.page-title {
    text-align: center;
}
body {
    background-color: #F3F3F3;
}