.main ul {
    list-style: none;
    padding: 0;
}
.main ul li {
    overflow: hidden;
    border-bottom: solid 1px #EEE;
    padding: 10px 0;
}
.avatar-group {
    width: 36px;
    height: 100%;
    float: left;
}
.avatar-group .avatar {
    width: 32px;
    /* height: 32px;
    border-radius: 50%; */
}
.question-group {
    float: left;
    width: 660px;
    margin-left: 10px;
}
.question-group .question-title a {
    color: #259;
    font-weight: 900;
}
.question-group .question-info {
    text-align: right;
}
.question-group .question-info .question-author {
    margin-right: 20px;
}